
#left, #right {
		float:left;
		position:relative;
	}
	#left {
		font-family:Helvetica;
		float:left;
		width:770px;
        margin-left: 30px;
		padding-bottom:auto;
	}
	#right {
		text-align:center;
		font-family:Arial;
		margin-left:-200px;
		width:220px;
		padding-bottom:auto;
        float:right;
	}
	.categories {
		font-family: Georgia;
		font-size: 16px;
		font-style:italic;
	}
	.contents {
		font-family:sans-serif;
		font-weight:bold;
		font-size: 14px;
        width:100%;
        overflow:hidden;
	}
	#bar {
		text-align:left;
		
	}
	#tags{
		text-align:left;
		margin-left:10px;
        font-size:16px;
	}

/* CONTENT DIV AND IMAGES*/
.content
{
    float:left;
    clear: both;
    color:#666666;
    background-color: white;
    min-height: 420px;
    width: 100%; 
    
}

.con_Body h3
{
    padding: 0px;
    margin: 0px;
}
.content h2
{
    font-family: sans-serif;
    text-align: center;
}

/* END OF CONTENT AND IMAGES*/

/* FOR ADAPTABILITY */

@media only screen and (max-width: 568px) {
    .headerDetails 
    {
        float:left;
        clear:both;
        
    }
    .con_Image1
    {
        margin-left: 2.94%;
    }
}
@media.screen.and.(max-width:430px).{
 
    .nav ul li
    {
        display:block;
        width: 100%;
    } 


}







