/* CONTENT DIV AND IMAGES*/
.content
{
    float:left;
    clear: both;
    color:#666666;
    background-color: white;
    min-height: 420px;
    width: 100%; 
    font-family: sans-serif;
    font-size: 16px;  
    
}
.content p
{
    text-align:center;
    margin-left:30px;
    margin-right:30px;
}


.content h2
{
    font-family: sans-serif;
    text-align: center;
}
/*Contact Info Section*/
.contactInfoContainer
{
   
    margin-left:30px;
    margin-right:30px;
    max-width:960px;
    overflow:hidden;
    margin-bottom:30px;
    
}
.contactOpeningTimes
{
    max-width:480px;
    width:100%;
    float:left; 
}
.contactDetails
{
   
    
    max-width:480px;
    width:100%;
    float:left;
    
    
}
.contactDetails p
{
    text-align:left;
    margin:0px;
}
.characterLimit
{
    font-size:12px;
}


/* FORM STYLING */
.formBody
{
    margin-left:30px;
    max-width: 920px;
    padding:20px;
    background-color: lightgrey;
}
input[type=text],  select, textarea {
    width: 100%; /* Full width */
    padding: 8px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.content input[type=password] {
    width: 100%; /* Full width */
    padding: 8px; /* Some padding */  
   
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
   background-image:none;
}

.content input[type=email] 
{
    width: 100%; /* Full width */
    padding: 8px; /* Some padding */
    
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    background-position: 0px 6px ;
    background-image:none;
}
input[type=submit] {
    background-color: gray;
    background-image: url(img/submitArrow.png);
    background-repeat: no-repeat;
    background-position: 12px 8px;
    transition:0.5s;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}
input[type=submit]:hover {
    background-color: darkgrey;
    transition: 0.5s;
}
.errorMessage
{
    
    max-height:16px;
    width:100%;
    color:red;
    font-size:12px;
    margin:0px;
    padding:0px;
    display:none;
}

/* END OF CONTENT AND IMAGES*/

/* FOR ADAPTABILITY */

@media only screen and (max-width: 568px) {
    .headerDetails 
    {
        float:left;
        clear:both;
        
    }
    .con_Image1
    {
        margin-left: 2.94%;
    }
}
@media.screen.and.(max-width:430px).{
 
    .nav ul li
    {
        display:block;
        width: 100%;
    } 


}







