


/* END OF SLIDESHOW */
/* CONTENT DIV AND IMAGES*/
.content
{
    float:left;
    clear: both;
    color:#666666;
    background-color: white;
    min-height: 420px;
    width: 100%; 
    font-family: sans-serif;
    font-size: 16px;  
    position:relative;
}
.content p
{
    text-align:center;
    margin:10px;
}
.content h2
{
    font-family: sans-serif;
    text-align: center;

}
.faqContent
{
  
    width:94.12%;
    height:200px;
    margin-left: 2.94%;
    margin-right:2.94%;
    position:relative;
    overflow:hidden;
    
}
.faqCollapse
{
    text-align: left;
    cursor:pointer;
    width:100%;
    background-color: lightgray;
    outline: none;
    border: none;
    transition:0.5s;
    padding:8px;
    margin-top:2px;
    position:relative;
}
.faqCollapse:hover
{
    background-color:darkgrey;
    transition:0.5s;
}
.collapseIcon
{
    min-width:16px;
    min-height:16px;
    background:url(img/plusIcon.png);
    float:right;
    
}
.collapseContent
{
    display:none;
    background-color: darkgray;
    padding:10px;
}

.collapseAllBut
{
    margin-top:4px;
}

/* FOR ADAPTABILITY */

@media only screen and (max-width: 568px) {
    .headerDetails 
    {
        float:left;
        clear:both;
        
    }
    .con_Image1
    {
        margin-left: 2.94%;
    }
}
@media.screen.and.(max-width:430px).{
 
    .nav ul li
    {
        display:block;
        width: 100%;
    } 


}