body
{
    background: url(img/roses_darkGrey.png);
    background-size:auto;
    background-repeat:repeat;


}
.wrapper /* Making website centered */
{

    margin: 0 auto;
    max-width:1020px;
    float: none
}

/* HEADER STYLING */
header
{
    float: left;
    clear:both;
    background-color: black;
    color:lightgrey;
    width: 100%;
    font-family: sans-serif;
    position: relative;
    overflow:hidden;

}
.logo
{
    float:left;
    min-width:320px;
    min-height: 50px;
    margin: 0px;
    position:relative;
    margin-top: 15px;
    margin-left: 30px;

}

.headerDetails      /*For phone number and address */
{

    min-height:80px;
    min-width:180px;
    float:right;
}
.headerDetails h4
{
    text-align: center;
    margin:10px;
}
.headerDetails p
{
    text-align: center;
    margin:0px;
}
/* END OF HEADER */
/* NAVIGATION STYLING */
nav
{
    float: left;
    clear:both;
    background-color: #333333;
    color:white;
    width:100%;
    padding: 0px;
    margin:0px;
    overflow: hidden;
    display:block;
}
nav ul
{
    margin:0;
}

nav ul li
{
    transition-duration: 0.5s;
    display:inline-block;
    list-style-type: none;
    color:white;
    padding: 5px 10px;
    font-family: sans-serif;
}

nav ul li a
{
    color:white;
    text-decoration: none;
}

nav ul li:hover
{
    transition-duration: 0.5s;
    background-color: darkgray;

}

.navImg
{
    width: 16px;
    height: 16px;
    padding-right:4px;
    float:left;
    background-repeat: no-repeat;
    
}
.hamburger
{
    background-color: #333333;
    display:none;
    font-family: sans-serif;
    color:white;
      border-style: solid;
    border-color:grey;
    border-width: 1px;
    cursor: pointer;
}
.hamburger h3
{
    padding:0;
    margin:0;
    margin-left:30px;


}
.testy
{

}
/* END OF NAVIGATION */
/* FOOTER CONTENT*/
footer
{
    float:left;
    clear: both;
    color:white;
    background-color: black;
    min-height: 100px;
    width: 100%;
}
.footer1
{
    float:left;
    min-height: 100px;
    min-width: 150px;
    margin-left: 3.9%;
    color: white;
    font-family: sans-serif;
}
.footer2
{

    float:left;
    min-height: 100px;
    min-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
}

.footer3
{

    float:left;
    min-height: 100px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;

}
.footer4
{

    float:left;
    min-height: 100px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;

}

.footerCopyright
{
    clear:both;
    float:left;
    min-width: 150px;
    margin-left: 3.9%;
    color: white;
    font-family: sans-serif;
    font-size:12px;

}
.footer3 p
{
    font-size:12px;
}
.footer4 ul
{
    font-size:12px;
}

footer ul
{
    list-style:none;
    padding-left:0;
    margin-top: 0px;

}
footer a
{
    text-decoration: none;
    color:white;
    transition:0.5s;
}
footer a:hover
{
    color: #333333;
    transition:0.5s;
}

footer h4
{

    border-bottom: solid 2px white;
    border-spacing: 20px;
    padding-bottom: 2px;

}
input[type="email"]
{
    background-image: url(img/mailSmall.png);
    background-repeat: no-repeat;
    padding-left:22px;
    width:124px;
}

input[type="username"]
{
    background-image: url(img/user_Icon.png);
    background-repeat: no-repeat;
    padding-left:22px;
    width:124px;

}
input[type="password"]
{
    background-image: url(img/pass_Icon.png);
    background-repeat: no-repeat;
    padding-left:22px;
    margin-top:4px;
    width:124px;
}

/*NEWS STYLING */
button[type="submit"]
{
    border-radius: 2px;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
    background-color: #333333;
    color:white;
    transition-duration: 0.5s;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}


button[type="submit"]:hover
{
    transition-duration: 0.5s;
    background-color: darkgrey;
}

button[type="button"]
{
    border-radius: 2px;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
    background-color: #333333;
    color:white;
    transition-duration: 0.5s;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}


button[type="button"]:hover
{
    transition-duration: 0.5s;
    background-color: darkgrey;
}

/* END OF FOOTER CONTENT*/

@media only screen and (max-width:430px){

    nav ul li
    {
        color:red;
        width: 100%;
    }
    .hamburger
    {
        display:block;
    }
}
@media only screen and (min-width:450px){

    nav{
        display:block;

    }
}
