body
{
    background: url(img/web_Background.png);
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.wrapper /* Making website centered */
{
    
    margin: 0 auto;
    max-width:1020px;
    float: none 
}

/* HEADER STYLING */
header 
{
    float: left;
    clear:both;
    background-color: black;
    color:lightgrey;
    width: 100%;
    font-family: sans-serif;
    position: relative;
    overflow:hidden;
    
}
.logo
{
    float:left;
    min-width:320px;
    min-height: 50px;
    margin: 0px;
    position:relative;
    margin-top: 15px;
    margin-left: 30px;
    
}

.headerDetails      /*For phone number and address */
{
    
    min-height:80px;
    min-width:180px;
    float:right;
}
.headerDetails h4
{
    text-align: center;
    margin:10px;
}
.headerDetails p
{
    text-align: center;
    margin:0px;
}
/* END OF HEADER */
/* NAVIGATION STYLING */
nav
{
    float: left;
    clear:both;
    background-color: #333333;
    color:white;
    width:100%;
    padding: 0px;
    margin:0px;
}
nav ul
{
    margin:0;
}
nav ul li
{
    transition-duration: 0.5s;
    display:inline-block;
    list-style-type: none;
    color:white;
    padding: 5px 10px;
    font-family: sans-serif;
}

nav ul li a
{
    color:white;
    text-decoration: none;
}

nav ul li:hover
{
    transition-duration: 0.5s;
    background-color: darkgray;
}

/* CONTENT DIV AND IMAGES*/
.content
{
    float:left;
    clear: both;
    color:#666666;
    font-family: sans-serif;
    font-size: 90%;
    background-color: white;
    min-height: 420px;
    width: 100%; 
}

.textbody
{
    float:left;
    clear: both;
    color:#666666;
    margin-left:5%;
    margin-right:5%;
    border-left:10%;
    margin-bottom:2%;
}	
.content h2
{
    font-family: sans-serif;
    text-align: center;
}

/* END OF CONTENT AND IMAGES*/
/* FOOTER CONTENT*/
footer
{
    float:left;
    clear: both;
    color:white;
    background-color: black;
    min-height: 100px;
    width: 100%; 
}
.footer1
{
    float:left;
    min-height: 100px;
    min-width: 150px;
    margin-left: 3.9%;
    color: white;
    font-family: sans-serif;
}
.footer2
{
    
    float:left;
    min-height: 100px;
    min-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
}

.footer3
{
    
    float:left;
    min-height: 100px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
    
}
.footer4
{
    
    float:left;
    min-height: 100px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
    
}

.footerCopyright
{
    clear:both;
    float:left;
    min-width: 150px;
    margin-left: 3.9%;
    color: white;
    font-family: sans-serif;
    font-size:12px;
    
}
.footer3 p
{
    font-size:12px;
}
.footer4 ul
{
    font-size:12px;
}

footer ul 
{
    list-style:none;
    padding-left:0;
    margin-top: 0px;
    
}
footer a
{
    text-decoration: none;
    color:white;
    transition:0.5s;
}
footer a:hover
{
    color: #333333;
    transition:0.5s;
}

footer h4
{
    
    border-bottom: solid 2px white;
    border-spacing: 20px;
    padding-bottom: 2px;
    
}

/*NEWS STYLING */
button[type="submit"]
{
    border-radius: 2px;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
    background-color: #333333;
    color:white;
    transition-duration: 0.5s;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
input[type="email"] 
{
    background-image: url(img/mailSmall.png);
    background-repeat: no-repeat;
    padding-left:22px;
}

button[type="submit"]:hover
{
    transition-duration: 0.5s;
    background-color: darkgrey;
}

/* END OF FOOTER CONTENT*/


/* FOR ADAPTABILITY */

@media only screen and (max-width: 568px) {
    .headerDetails 
    {
        float:left;
        clear:both;
        
    }
    .con_Image1
    {
        margin-left: 2.94%;
    }
}
@media.screen.and.(max-width:430px).{
 
    .nav ul li
    {
        display:block;
        width: 100%;
    } 


}


.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


img
{
    transition:0.25s;
    width:100%;
    
}

img:hover{
    
    transition: 0.25s;
    cursor:pointer;
    outline: 2px solid #000;
    outline-offset: -2px;
}

.gallery
{
    float:left;
    width:300px;
    margin: 3px;
}

#imageCount
{
    
}
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

