
/* CONTENT DIV AND IMAGES*/
.content
{
    float:left;
    clear: both;
    color:#666666;
    font-family: sans-serif;
    font-size: 100%;
    background-color: white;
    min-height: 420px;
    width: 100%;        
}

.imgDes img
{
     float: left;    
     margin: 0px 15px 0px 0px;
}

.textbody
{
    float:left;
    clear: both;
    color:#666666;
    margin-left:5%;
    margin-right:5%;
    border-left:10%;
    margin-bottom:2%;
}	

.con_Image
{
    
    display:block;
    min-width: 240px;
    min-height: 180px;
}
.con_Body /*for text underneath image */
{
    margin:0;
    padding:2;
    font-family: sans-serif;
    text-align: center;
    display:block;
    background-color:white;
    max-width: 240px;
    min-height: 80px;
}
.con_Body h3
{
    padding: 0px;
    margin: 0px;
}
.content h2
{
    font-family: sans-serif;
    text-align: left;
}
.button {
    background-color: rgb(169, 210, 85);
    transition:0.5s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
    transition:0.5s;
    background-color: #45a049;
}


/* END OF CONTENT AND IMAGES*/

/*NEWS STYLING */
button[type="submit"]
{
    border-radius: 2px;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
    background-color: #333333;
    color:white;
    transition-duration: 0.5s;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

button[type="submit"]:hover
{
    border-radius: 2px;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
    background-color: #333333;
    color:white;
    transition-duration: 0.5s;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
input[type="email"] 
{
    background-image: url(img/mailSmall.png);
    background-repeat: no-repeat;
    padding-left:22px;
}

button[type="submit"]:hover
{
    transition-duration: 0.5s;
    background-color: darkgrey;
}

/* END OF FOOTER CONTENT*/


/* FOR ADAPTABILITY */

@media only screen and (max-width: 568px) {
    .headerDetails 
    {
        float:left;
        clear:both;
        
    }
    .con_Image1
    {
        margin-left: 2.94%;
    }
}
@media.screen.and.(max-width:430px).{
 
    .nav ul li
    {
        display:block;
        width: 100%;
    } 

}




