.row{
    padding-left:30px;
    padding-right:30px;
}
.container-fluid {
    padding-right:0px;
    padding-left:0px;
    margin-right:auto;
    margin-left:auto;
    overflow:hidden;
 }
/*POLICY STYLING */
.blog-padding{
    padding:30px;
    background-color: #ecf0f1;
}