.row{
    padding-left:30px;
    padding-right:30px;
}
.container-fluid {
    padding-right:0px;
    padding-left:0px;
    margin-right:auto;
    margin-left:auto;
    overflow:hidden;
 }

/*Banner Styling */
#blog-banner{
    background-image: url(img/bathBrush.jpg);
    background-size: 100%;
    background-position: center;
    padding:60px;
}
/*Blog STYLING */
.blog-padding{
    padding:30px;
    background-color: #ecf0f1;
}
.card-style{
    width:100%;
}
