
/*CONTACT FORM */
#contact-style{
    background-color:#ecf0f1;
    padding:30px 30px;
    margin:30px;
    border-radius: 10px;
}

#bg-form{
    background-image: url(img/nature.jpg);
    background-size: cover;
    
}
.alert-style{
    display:none;
    padding:2px 4px;
}

#textarea_feedback{
    color: #3498db;
}
