.row{
    padding-left:30px;
    padding-right:30px;
}
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

/*====SLIDESHOW*/
#slideshow-bg{
    background-image: url(img/flowers.jpg);
    background-size:cover;
    transition: 1s;
    overflow:hidden;
}

#slideshow-content{
    margin-top: 200px;
    margin-bottom: 200px;
    
}
#jumbo-style{
    background-color:#d63031;
    border-radius: 10px;
    color:#ecf0f1;
        
}
#btn-book{
    box-shadow: 1px 1px #2c3e50;
    background-color: #e74c3c; 
    color:#ecf0f1;
}
#btn-book:hover{
    box-shadow: 0px 0px #2c3e50;
    background-color: #7f8c8d; 
    color:#ecf0f1;
}
/*====SLIDESHOW SELECTORS*/
.slide-circle{
    background-color:none;
    border-color:#ecf0f1;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    float:left;
    margin: 4px;
    width:20px;
    height:20px;
    transition:0.2s;
    
}
.slide-circle:hover{
    background-color:#ecf0f1;
    border-color:#ecf0f1;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    float:left;
    margin: 4px;
    width:20px;
    height:20px;
    cursor: pointer;
    transition:0.2s;
    
}
.slide-circle-container{
    
    position: relative;
    top:95%;
    left:50%;
    overflow:hidden;
}
/*====SERVICES */
#services{
    background-color:#ecf0f1;
    
}
#img-services{
    
    max-height:300px;
    width:100%;
}

/*====ABOUT US */
#about{
    background-color:#2c3e50;
    color:#ecf0f1;
    padding:30px 0;
}
/*====Media Queries */
@media only screen and (max-width: 768px) {
    .slide-circle-container{
        top:10%;
        left:40%;
    }
 
}