.row{
    padding-left:30px;
    padding-right:30px;
}
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    overflow:hidden;
 }
/*Products section Styling */
.gallery-padding{
    padding:30px;
    background-color: #ecf0f1;
}

.img-style{ 
    height:280px;
    
}
.card-style{
    margin-bottom:30px;
    
}
/*Special Offers Styling */
#specialOffers-styling{
    background-color:#34495e;
    color: #ecf0f1;
    padding-top:30px;
    padding-bottom:30px;
}
.icon-styles{
    font-size: 80px;
    padding:10px;
}

