.row{
    padding-left:30px;
    padding-right:30px;
}
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
/*POLICY STYLING */
.gallery-padding{
    padding:30px;
    background-color: #ecf0f1;
}

.gallery-style{
    margin-top:30px;
    outline: 4px solid #ecf0f1;
    transition:0.2s;
    max-height:350px;
}

.gallery-style:hover{
    margin-top:30px;
    outline: 4px solid #e74c3c;
    transition:0.2s;
}