body
{
    background: url(img/web_Background.png);
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.wrapper /* Making website centered */
{
    
    margin: 0 auto;
    max-width:1020px;
    float: none 
}

/* HEADER STYLING */
header 
{
    float: left;
    clear:both;
    background-color: black;
    color:lightgrey;
    width: 100%;
    font-family: sans-serif;
    position: relative;
    overflow:hidden;
    
}
.logo
{
    float:left;
    min-width:320px;
    min-height: 50px;
    margin: 0px;
    position:relative;
    margin-top: 15px;
    margin-left: 30px;
    
}

.headerDetails      /*For phone number and address */
{
    
    min-height:80px;
    min-width:180px;
    float:right;
}
.headerDetails h4
{
    text-align: center;
    margin:10px;
}
.headerDetails p
{
    text-align: center;
    margin:0px;
}
/* END OF HEADER */
/* NAVIGATION STYLING */
nav
{
    float: left;
    clear:both;
    background-color: #333333;
    color:white;
    width:100%;
    padding: 0px;
    margin:0px;
}
nav ul
{
    margin:0;
}
nav ul li
{
    transition-duration: 0.5s;
    display:inline-block;
    list-style-type: none;
    color:white;
    padding: 5px 10px;
    font-family: sans-serif;
}

nav ul li a
{
    color:white;
    text-decoration: none;
}

nav ul li:hover
{
    transition-duration: 0.5s;
    background-color: darkgray;
}

/* END OF NAVIGATION */
/* SLIDESHOW STYLING */
.slideShow
{
    position:relative;
    float:left;
    clear: both;
   
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/slideShow_Spa.jpg); /*linear grad darkens the image */

    background-repeat: no-repeat;
    background-size:100% 100%;
    color: white;
    min-height: 400px;
    max-height:400px;
    width: 100%;
}
.leftArrow
{
    float:left;
    background:url(img/leftArrow.png);
    display: block;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    background-color: bisque;
    opacity: 0.2;
    transition:0.5s;
    margin-left: 30px;
    position:relative;
    top:170px;
    z-index:1;
}
.leftArrow:hover
{
    transition:0.5s;
    opacity: 0.8;
    cursor: pointer;
}

.rightArrow
{
    float:right;
    background:url(img/rightArrow.png);
    display: block;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    background-color: bisque;
    opacity: 0.2;
    transition:0.5s;
    margin-right: 30px;
    position:relative;
    top:170px;
}
.rightArrow:hover
{
    transition:0.5s;
    opacity: 0.8;
    cursor: pointer;
}
.slideShowContent
{
    float:left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 180px;
    max-width:820px;
    width:100%;
    font-family: sans-serif;
    overflow:hidden;
    
}
.slideShowDotCon
{
    display: block;    
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 140px;
    min-height: 24px;
    max-width: 140px;
    max-height: 24px;
    text-align: center;
    
    
}

.slideShowDot1
{
    
    display: inline-block;
    margin:5px;
    background-color: white;
    border-radius: 50%;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    opacity: 0.5;
    cursor: pointer;
}
.slideShowDot2
{
    
    display: inline-block;
    margin:5px;
    background-color: white;
    border-radius: 50%;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    opacity: 0.5;
    cursor: pointer;
}
.slideShowDot3
{
    
    display: inline-block;
    margin:5px;
    background-color: white;
    border-radius: 50%;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    opacity: 0.5;
    cursor: pointer;
}
.slideShowDot4
{
    
    display: inline-block;
    margin:5px;
    background-color: white;
    border-radius: 50%;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    opacity: 0.5;
    cursor: pointer;
}

.slideShowContent h2 
{
position:absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);

}



/* END OF SLIDESHOW */
/* CONTENT DIV AND IMAGES*/
.content
{
    float:left;
    clear: both;
    color:#666666;
    font-family: sans-serif;
    font-size: 100%;
    background-color: white;
    min-height: 420px;
    width: 100%;        
}

.imgDes img
{
     float: left;    
     margin: 0px 15px 0px 0px;
}

.textbody
{
    float:left;
    clear: both;
    color:#666666;
    margin-left:5%;
    margin-right:5%;
    border-left:10%;
    margin-bottom:2%;
}	
.con_Image1
{
    float:left;
    min-width: 240px;
    min-height: 260px;
    margin-left: 8.82%;
    margin-right: 30px;
}
.con_Image2
{
    float:left;
    min-width: 240px;
    min-height: 260px;
    margin-left: 2.94%; 
    margin-right: 2.94%;
}
.con_Image3
{
    float:left;
    min-width: 240px;
    min-height: 260px;
    margin-left: 2.94%;
    margin-right: 8.82%;
}
.con_Image
{
    
    display:block;
    min-width: 240px;
    min-height: 180px;
}
.con_Body /*for text underneath image */
{
    margin:0;
    padding:2;
    font-family: sans-serif;
    text-align: center;
    display:block;
    background-color:white;
    max-width: 240px;
    min-height: 80px;
}
.con_Body h3
{
    padding: 0px;
    margin: 0px;
}
.content h2
{
    font-family: sans-serif;
    text-align: left;
}

/* END OF CONTENT AND IMAGES*/
/* FOOTER CONTENT*/
footer
{
    float:left;
    clear: both;
    color:white;
    background-color: black;
    min-height: 100px;
    width: 100%; 
}
.footer1
{
    float:left;
    min-height: 100px;
    min-width: 150px;
    margin-left: 3.9%;
    color: white;
    font-family: sans-serif;
}
.footer2
{
    
    float:left;
    min-height: 100px;
    min-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
}

.footer3
{
    
    float:left;
    min-height: 100px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
    
}
.footer4
{
    
    float:left;
    min-height: 100px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
    
}

.footerCopyright
{
    clear:both;
    float:left;
    min-width: 150px;
    margin-left: 3.9%;
    color: white;
    font-family: sans-serif;
    font-size:12px;
    
}
.footer3 p
{
    font-size:12px;
}
.footer4 ul
{
    font-size:12px;
}

footer ul 
{
    list-style:none;
    padding-left:0;
    margin-top: 0px;
    
}
footer a
{
    text-decoration: none;
    color:white;
    transition:0.5s;
}
footer a:hover
{
    color: #333333;
    transition:0.5s;
}

footer h4
{
    
    border-bottom: solid 2px white;
    border-spacing: 20px;
    padding-bottom: 2px;
    
}

/*NEWS STYLING */
button[type="submit"]
{
    border-radius: 2px;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
    background-color: #333333;
    color:white;
    transition-duration: 0.5s;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
input[type="email"] 
{
    background-image: url(img/mailSmall.png);
    background-repeat: no-repeat;
    padding-left:22px;
}

button[type="submit"]:hover
{
    transition-duration: 0.5s;
    background-color: darkgrey;
}

/* END OF FOOTER CONTENT*/


/* FOR ADAPTABILITY */

@media only screen and (max-width: 568px) {
    .headerDetails 
    {
        float:left;
        clear:both;
        
    }
    .con_Image1
    {
        margin-left: 2.94%;
    }
}
@media.screen.and.(max-width:430px).{
 
    .nav ul li
    {
        display:block;
        width: 100%;
    } 


}


.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

