body
{
    background: url(img/web_Background.png);
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.wrapper /* Making website centered */
{
    
    margin: 0 auto;
    max-width:1020px;
    float: none 
}

/* HEADER STYLING */
header 
{
    float: left;
    clear:both;
    background-color: black;
    color:lightgrey;
    width: 100%;
    font-family: sans-serif;
    position: relative;
    overflow:hidden;
    
}
.logo
{
    float:left;
    min-width:320px;
    min-height: 50px;
    margin: 0px;
    position:relative;
    margin-top: 15px;
    margin-left: 30px;
    
}

.headerDetails      /*For phone number and address */
{
    
    min-height:80px;
    min-width:180px;
    float:right;
}
.headerDetails h4
{
    text-align: center;
    margin:10px;
}
.headerDetails p
{
    text-align: center;
    margin:0px;
}
/* END OF HEADER */
/* NAVIGATION STYLING */
nav
{
    float: left;
    clear:both;
    background-color: #333333;
    color:white;
    width:100%;
    padding: 0px;
    margin:0px;
}
nav ul
{
    margin:0;
}
nav ul li
{
    transition-duration: 0.5s;
    display:inline-block;
    list-style-type: none;
    color:white;
    padding: 5px 10px;
    font-family: sans-serif;
}

nav ul li a
{
    color:white;
    text-decoration: none;
}

nav ul li:hover
{
    transition-duration: 0.5s;
    background-color: darkgray;
}

/* END OF NAVIGATION */
/* SLIDESHOW STYLING */
.slideShow
{
    position:relative;
    float:left;
    clear: both;
   
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/ourTeam.jpg); /*linear grad darkens the image */

    background-repeat: no-repeat;
    background-size:100% 100%;
    color: white;
    min-height: 400px;
    max-height:400px;
    width: 100%;
}

.slideShowContent
{
    float:left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 180px;
    max-width:820px;
    width:100%;
    font-family: sans-serif;
    overflow:hidden;
    
}

/* ANIMATION */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { top:0%; }
    to   { top:30%; }
    
}

.slideShowContent h2 
{
position:absolute;
top: 30%;
left: 50%;
opacity: 1;
transform: translate(-50%, -50%);
animation-name: fadein;
animation-duration: 2s;

}



/* END OF SLIDESHOW */
/* CONTENT DIV AND IMAGES*/
.content
{
    position: relative;
    float:left;
    clear: both;
    color:#666666;
    background-color: white;
    min-height: 420px;
    width: 100%; 
    font-family: sans-serif;
    font-size: 16px;      
}
.content p
{
    text-align:center;
}
.content h2
{
    font-family: sans-serif;
    text-align: center;

}
/*Team Part*/
.teamContainer
{
    min-height: 230px;
    max-height: 100%;
    width: 100%;
    background-color: lightgrey;
    position:relative;
    overflow:hidden;
    
}
.teamContent
{
   
    width:60%;
    height:100%;
    display:inline-block;
    float:left;
    position:relative;
    overflow: hidden;
   
       
    
}
.teamContent p
{
    
    text-align: left;
    margin-left: 20px;
    margin-right:30px;

}
.profileContainer
{
    height: 100%;
    width:200px;
    display:inline-block;
    float:left;
}
.teamContainerProfile
{
    width:140px;
    height: 140px;
    background-color: aqua;
    border-radius: 50%;
    margin-left: 40px;
    margin-top:10px;
    float:left;
    display:inline-block;
    overflow: hidden;
}
.teamContainerProfile img
{
    max-width: 180px;
    max-height: 180px;
}
.teamContainerProfileInfo
{
    width:140px;
    height: 60px;
   
   
    margin-left: 40px;
    margin-top:10px;
    clear: both;
    float:left;
    display:block;
    
}
.teamContainerProfileInfo p
{
    padding:0px;
    margin:0px;
}

/* END OF CONTENT AND IMAGES*/
/* FOOTER CONTENT*/
footer
{
    float:left;
    clear: both;
    color:white;
    background-color: black;
    min-height: 100px;
    width: 100%; 
}
.footer1
{
    float:left;
    min-height: 100px;
    min-width: 150px;
    margin-left: 3.9%;
    color: white;
    font-family: sans-serif;
}
.footer2
{
    
    float:left;
    min-height: 100px;
    min-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
}

.footer3
{
    
    float:left;
    min-height: 100px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
    
}
.footer4
{
    
    float:left;
    min-height: 100px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 10px;
    color: white;
    font-family: sans-serif;
    
}

.footerCopyright
{
    clear:both;
    float:left;
    min-width: 150px;
    margin-left: 3.9%;
    color: white;
    font-family: sans-serif;
    font-size:12px;
    
}
.footer3 p
{
    font-size:12px;
}
.footer4 ul
{
    font-size:12px;
}

footer ul 
{
    list-style:none;
    padding-left:0;
    margin-top: 0px;
    
}
footer a
{
    text-decoration: none;
    color:white;
    transition:0.5s;
}
footer a:hover
{
    color: #333333;
    transition:0.5s;
}

footer h4
{
    
    border-bottom: solid 2px white;
    border-spacing: 20px;
    padding-bottom: 2px;
    
}

/*NEWS STYLING */
button[type="submit"]
{
    border-radius: 2px;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
    background-color: #333333;
    color:white;
    transition-duration: 0.5s;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
input[type="email"] 
{
    background-image: url(img/mailSmall.png);
    background-repeat: no-repeat;
    padding-left:22px;
}

button[type="submit"]:hover
{
    transition-duration: 0.5s;
    background-color: darkgrey;
}

/* END OF FOOTER CONTENT*/


/* FOR ADAPTABILITY */

@media only screen and (max-width: 568px) {
    .headerDetails 
    {
        float:left;
        clear:both;
        
    }
    .con_Image1
    {
        margin-left: 2.94%;
    }
}
@media.screen.and.(max-width:430px).{
 
    .nav ul li
    {
        display:block;
        width: 100%;
    } 


}







